@tailwind base;
@tailwind components;
@tailwind utilities;

$bgPrimary:#242424;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $bgPrimary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  @apply inline-block px-4 py-2 font-semibold text-white bg-blue-500 rounded cursor-pointer text-center transition duration-200 ease-in-out;
}

.btn2 {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;
  background-color: rgba(39, 5, 233, 0.08);
}

.grid-flow{
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.img {
  max-width: 100%;
  height: auto;
}

a.active{
  @apply text-blue-500
}

.carrito {
  width: 30px;
  height: 30px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.logo {
  width: 200px;
  height: 100px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.logo:hover {
  transform: scale(1.1);
}

.menu-link {
  text-decoration: none;
  color: rgb(230, 222, 222);
  font-size: 1.2rem;
}

.menu-link:hover {
  text-decoration: underline;
}

.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}
