@tailwind base;
@tailwind components;
@tailwind utilities;

$bgPrimary:#242424;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $bgPrimary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.verdetalle {
  @apply inline-block px-4 py-2 font-semibold text-white bg-blue-500 rounded cursor-pointer text-center transition duration-200 ease-in-out;
}

.agregaralcarrito {
  @apply inline-block px-4 py-2 font-semibold text-white bg-blue-500 rounded cursor-pointer text-center transition duration-200 ease-in-out;
}

.finalizarcompra {
  @apply inline-block px-4 py-2 font-semibold text-white bg-blue-500 rounded cursor-pointer text-center transition duration-200 ease-in-out;
}

.vaciarcarrito {
  @apply inline-block px-4 py-2 font-semibold text-white bg-red-500 rounded cursor-pointer text-center transition duration-200 ease-in-out;
}

.btn2 {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;
  background-color: rgba(39, 5, 233, 0.08);
}

.grid-flow{
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.img {
  max-width: 100%;
  height: auto;
}

a.active{
  @apply text-blue-500
}

.carrito {
  width: 30px;
  height: 30px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.logo {
  width: 200px;
  height: 100px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.logo:hover {
  transform: scale(1.1);
}

.menu-link {
  text-decoration: none;
  color: rgb(230, 222, 222);
  font-size: 1.2rem;
}

.menu-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 1140px;
  padding-inline: 1.5rem;
  margin: 0 auto;
}


.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}

.categoria {
  font-size: .8rem;
  color: #424242;
  margin-top: 1rem;
}

.precio {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 600;
}

.item-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.item-count button, .comprar {
  background-color: green;
  border: 0;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: .2s;
}

.verdetalle:hover{
  background-color: #83aef3;
  color: black;
}
.agregaralcarrito:hover, .comprar:hover {
  background-color: white;
  color: black;
}

.vaciarcarrito:hover, .finalizarcompra:hover {
  background-color: rgb(204, 204, 204);
  color: black;
}

.comprar {
  width: auto;
  height: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.producto-detalle {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.producto-detalle img {
  width: 100%;
}

.card {
  position: relative;
  width: 350px;
  height: 300px;
  margin: 20px;
  gap: 20px;
  padding: auto;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(245, 220, 192);
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0,0,0,.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(5, 60, 92);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
} 

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}